/* BUTTONS -------------------------------------------------------------------------------- */


/* operations */

.button-red, .button-red-w, .button-yel, .button-yel-w, .button-blu, .button-blu-w{
   padding: 0px 30px;
   height: 46px;
   font-size: 19px;
   border-radius: 7px;
   border: 1px solid var(--cl-gray-6);
   color: white;
}

.button-red-w, .button-yel-w, .button-blu-w{
   width: 100%;
}

.button-red, .button-red-w{
   box-shadow: -1px 1px 8px var(--cl-red-2t);
   background-color: var(--cl-red-2);
   &:hover{
      border: 1px solid var(--cl-gray-5);
      box-shadow: -1px 2px 14px var(--cl-red-2t);
      background-color: var(--cl-red-1);
   }
   &:focus{
      outline: 3px solid var(--cl-blue-2);
      background-color: var(--cl-red-1);
   }
}

.button-yel, .button-yel-w{
   box-shadow: -1px 1px 8px var(--cl-yellow-2t);
   background-color: var(--cl-yellow-2);
   &:hover{
      border: 1px solid var(--cl-gray-5);
      box-shadow: -1px 2px 14px var(--cl-yellow-2t);
      background-color: var(--cl-yellow-1);
   }
   &:focus{
      outline: 3px solid var(--cl-blue-2);
      background-color: var(--cl-yellow-1);
   }   
}

.button-blu, .button-blu-w{
   box-shadow: -1px 1px 8px var(--cl-blue-3t);
   background-color: var(--cl-blue-4);
   &:hover{
      border: 1px solid var(--cl-gray-5);
      box-shadow: -1px 2px 14px var(--cl-blue-3t);
      background-color: var(--cl-blue-3);
   }
   &:focus{
      outline: 3px solid var(--cl-blue-2);
      background-color: var(--cl-blue-3);
   }      
}

.button-det-gre{
   padding: 0px 15px;
   height: 30px;
   font-size: 14px;
   border-radius: 5px;
   border: 1px solid var(--cl-gray-4);
   box-shadow: -1px 1px 6px var(--cl-green-2t);
   color: white;  
   background-color: var(--cl-green-2); 
   &:hover{
      background-color: var(--cl-green-1);
      box-shadow: -1px 1px 12px var(--cl-green-2t);
   }
   &:focus{
      outline: 3px solid var(--cl-blue-2);
      background-color: var(--cl-green-1);
   }      
}


/* buttons icons */

.button-ic-ed, .button-ic-del{
   min-width: 26px;
   max-width: 26px;
   height: 26px;
   border: none;
   border-radius: 4px;
}

.button-ic-ed{
   background: center / 80% url('../src/images/svg/ic-edit.svg') no-repeat;
}

.button-ic-del{
   background: center / 80% url('../src/images/svg/ic-delete.svg') no-repeat;
}

/* panel inputs */

.button-op-inp{
   position: relative;
   padding: 0px 15px 0px 60px;
   width: 200px;
   height: 60px;
   font-size: 18px;
   text-align: left;
   border-radius: 7px;
   border: 1px solid var(--cl-gray-6);
   color: var(--cl-gray-7);
   background-color: white;

   > .ic-op{
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%) translateX(-50%);
   }

   &:hover{
      color: white;
      background-color: var(--cl-blue-2);
      box-shadow: 0px 0px 5px var(--cl-blue-3t);
   }
   &:focus{
      outline: 3px solid var(--cl-blue-1);
   }      
}


/* panel list */

.li-list{
   margin-bottom: 10px;
   height: 40px;
   > .cont-btn-list{
      display: flex;
      height: 100%;
      > .button-list{
         padding: 0px 15px;
         width: 100%;
         height: 40px;
         font-size: 18px;
         text-align: left;
         border-radius: 7px;
         border: 1px solid var(--cl-gray-6);
         color: var(--cl-gray-7);
         background-color: white;
         &:focus{
            border: 1px solid var(--cl-blue-4);
            outline: 3px solid var(--cl-blue-1);
         }
      }
      > .cont-ops-btns{
         display: flex;
         position: relative;
         margin-left: 10px;
         min-width: 40px;
         max-width: 40px;
         height: 40px;
         border-radius: 7px;
         border: 1px solid var(--cl-gray-6);
         outline: 3px solid transparent;
         transition: all .4s ease;
         background-color: white;
         overflow: hidden;

         > .cont-ed-del{
            display: flex;
            align-items: center;
            justify-content: space-around;
            min-width: 78px;
            max-width: 78px;
            height: 100%;
            opacity: 0;
            transition: all .4s ease;
         }

         .img-config-list{
            position: absolute;
            top: 0px;
            right: 0px;
            min-width: 38px;
            max-width: 38px;
            height: 100%;
            transition: all .4s ease;
            background: center / 60% url('../src/images/svg/ic-settings.svg') no-repeat;
         }
      }
      &:hover .cont-ops-btns{
         min-width: 80px;
         max-width: 80px;         
         border: 1px solid var(--cl-blue-4);
         > .cont-ed-del{
            opacity: 1;
         }
         > .img-config-list{
            right: -40px;
         }
      }
      &:hover .button-list{
         border: 1px solid var(--cl-blue-4);
         color: var(--cl-blue-5);
         box-shadow: -1px 1px 10px var(--cl-blue-1t);
      }
   }
}


/* ICONS ---------------------------------------------------------------------- */

.ic-28{
   width: 28px;
   height: 28px;
}

.ic-tex{
   background: center / 100% url('../src/images/svg/ic-text.svg') no-repeat;
}

.ic-rad{
   background: center / 100% url('../src/images/svg/ic-radio.svg') no-repeat;
}

.ic-che{
   background: center / 100% url('../src/images/svg/ic-checkbox.svg') no-repeat;
}

.ic-lis{
   background: center / 100% url('../src/images/svg/ic-list.svg') no-repeat;
}

.ic-lde{
   background: center / 100% url('../src/images/svg/ic-listd.svg') no-repeat;
}


/* BOXES ------------------------------------------------------------------------*/

.box-warning{
   padding: 25px 35px;
   width: 600px;
   outline: 10px solid white;
   border-radius: 10px;
   box-shadow: -5px 5px 25px var(--cl-blue-3t);
   background-color: var(--cl-gray-2);

   > .warn-title{
      margin-bottom: 25px;
      > h2{
         font-size: 28px;
         font-family: 'roboto-light';
         color: var(--cl-red-3);
      }
   }

   > .warn-description{
      margin-bottom: 45px;
      > p{
         font-size: 17px;
      }
   }

   > .warn-btns{
      text-align: right;
      > button{
         margin-right: 15px;
         box-shadow: none;
         &:last-child{
            margin-right: 0px;
         }
      }
   }
}


/* INPUTS */

.inp-det-text{
   padding: 0px 15px;
   width: 200px;
   height: 36px;
   border-radius: 5px;
   border: 1px solid var(--cl-gray-7);
   &::placeholder{
      color: var(--cl-gray-6);
   }
   &:focus{
      border: 1px solid var(--cl-blue-4);
   }
}

.select-det{
   padding: 0px 15px;
   width: 200px;
   height: 36px;   
   border-radius: 5px;
}