
/* LOGO ----------------------------------------------------------------------------------- */

.logo{
   background: center / 100% url('../src/images/svg/FormMaker.svg') no-repeat;
}

.head-logo{
   display: block;
   border: none;
   outline: none;
   width: 100%;
   height: 100%;
}



/* BUTTONS -------------------------------------------------------------------------------- */


/* operations */

.button-red, .button-red-w, .button-yel, .button-yel-w, .button-blu, .button-blu-w{
   padding: 0px 30px;
   height: 46px;
   font-size: 19px;
   border-radius: 7px;
   border: 1px solid var(--cl-gray-6);
   color: white;
}

.button-red-w, .button-yel-w, .button-blu-w{
   width: 100%;
}

.button-red, .button-red-w{
   box-shadow: -1px 1px 8px var(--cl-red-2t);
   background-color: var(--cl-red-2);
   &:hover{
      border: 1px solid var(--cl-gray-5);
      box-shadow: -1px 2px 14px var(--cl-red-2t);
      background-color: var(--cl-red-1);
   }
   &:focus{
      background-color: var(--cl-red-1);
   }
}

.button-yel, .button-yel-w{
   box-shadow: -1px 1px 8px var(--cl-yellow-2t);
   background-color: var(--cl-yellow-2);
   &:hover{
      border: 1px solid var(--cl-gray-5);
      box-shadow: -1px 2px 14px var(--cl-yellow-2t);
      background-color: var(--cl-yellow-1);
   }
   &:focus{
      background-color: var(--cl-yellow-1);
   }   
}

.button-blu, .button-blu-w{
   box-shadow: -1px 1px 8px var(--cl-blue-3t);
   background-color: var(--cl-blue-4);
   &:hover{
      border: 1px solid var(--cl-gray-5);
      box-shadow: -1px 2px 14px var(--cl-blue-3t);
      background-color: var(--cl-blue-3);
   }
   &:focus{
      background-color: var(--cl-blue-3);
   }
}

.button-det-gre{
   padding: 0px 15px;
   height: 30px;
   font-size: 14px;
   border-radius: 5px;
   border: 1px solid var(--cl-gray-4);
   box-shadow: -1px 1px 6px var(--cl-green-2t);
   color: white;  
   background-color: var(--cl-green-2); 
   &:hover{
      background-color: var(--cl-green-1);
      box-shadow: -1px 1px 12px var(--cl-green-2t);
   }
   &:focus{
      background-color: var(--cl-green-1);
   }      
}

.button-dlist{
   padding: 0px 15px;
   border-radius: 5px;
   border: 1px solid var(--cl-gray-6);
}

.button-out-backdrop{
   position: absolute;
   top: 40px;
   right: 40px;
   height: 40px;
   width: 40px;
   border-radius: 50%;
   border: 2px solid var(--cl-gray-6);
   box-shadow: -1px 1px 10px var(--cl-gray-7t);
   background: white center / 72% url('../src/images/svg/ic-x.svg') no-repeat;
}

.button-ic-exit{
   border-radius: 50%;
   border: 1px solid var(--cl-gray-6);
   background: var(--cl-gray-1) center / 60% url('..//src/images/svg/ic-x.svg') no-repeat;
}

/* buttons icons */

.button-ic-add, .button-ic-remove{
   border-radius: 5px;
   border: 1px solid var(--cl-gray-7);
}

.button-ic-add{
   background: var(--cl-green-2) center / 92% url('../src/images/svg/ic-mas.svg') no-repeat;
}

.button-ic-remove{
   background: var(--cl-red-2) center / 92% url('../src/images/svg/ic-menos.svg') no-repeat;
}

.button-ic-ed, .button-ic-del, .button-ic-stats, .button-ic-form{
   border: none;
   border-radius: 4px;
}

.button-ic-ed{
   background: center / 82% url('../src/images/svg/ic-edit.svg') no-repeat;
}

.button-ic-del{
   background: center / 82% url('../src/images/svg/ic-delete.svg') no-repeat;
}

.button-ic-stats{
   background: var(--cl-gray-5) center / 82% url('../src/images/svg/ic-stats.svg') no-repeat;
}

.btn-st-ac{
   background: var(--cl-blue-4) center / 82% url('../src/images/svg/ic-stats-b.svg') no-repeat !important;
}

.button-ic-form{
   background: var(--cl-gray-5) center / 82% url('../src/images/svg/ic-paper.svg') no-repeat;
}

.btn-fo-ac{
   background: var(--cl-yellow-2) center / 82% url('../src/images/svg/ic-paper-b.svg') no-repeat !important;
}

/* panel inputs */

.button-op-inp{
   position: relative;
   padding: 0px 15px 0px 60px;
   width: 200px;
   height: 60px;
   font-size: 18px;
   text-align: left;
   border-radius: 7px;
   border: 1px solid var(--cl-gray-6);
   color: var(--cl-gray-7);
   background-color: white;

   > .ic-op{
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%) translateX(-50%);
   }

   &:hover{
      color: white;
      background-color: var(--cl-blue-2);
      box-shadow: 0px 0px 5px var(--cl-blue-3t);
   }
}


/* panel list */

.li-list{
   margin-bottom: 10px;
   height: 40px;
   > .cont-btn-list{
      display: flex;
      height: 100%;
      > .button-list{
         padding: 0px 15px;
         width: 100%;
         height: 40px;
         font-size: 18px;
         text-align: left;
         border-radius: 7px;
         border: 1px solid var(--cl-gray-6);
         color: var(--cl-gray-7);
         background-color: white;
         &:focus{
            border: 1px solid var(--cl-blue-4);
         }
      }
      > .cont-ops-btns{
         display: flex;
         position: relative;
         margin-left: 10px;
         min-width: 40px;
         max-width: 40px;
         height: 40px;
         border-radius: 7px;
         border: 1px solid var(--cl-gray-6);
         outline: 3px solid transparent;
         transition: all .4s ease;
         background-color: white;
         overflow: hidden;

         > .cont-ed-del{
            display: flex;
            align-items: center;
            justify-content: space-around;
            min-width: 78px;
            max-width: 78px;
            height: 100%;
            opacity: 0;
            transition: all .4s ease;
         }

         .img-config-list{
            position: absolute;
            top: 0px;
            right: 0px;
            min-width: 38px;
            max-width: 38px;
            height: 100%;
            transition: all .4s ease;
            background: center / 60% url('../src/images/svg/ic-settings.svg') no-repeat;
         }
      }
      &:hover .cont-ops-btns{
         min-width: 80px;
         max-width: 80px;         
         border: 1px solid var(--cl-blue-4);
         > .cont-ed-del{
            opacity: 1;
         }
         > .img-config-list{
            right: -40px;
         }
      }
      &:hover .button-list{
         border: 1px solid var(--cl-blue-4);
         color: var(--cl-blue-5);
         box-shadow: -1px 1px 10px var(--cl-blue-1t);
      }
   }
}


/* ICONS ---------------------------------------------------------------------- */

.ic-26{
   min-width: 26px;
   max-width: 26px;
   height: 26px;
}

.ic-28{
   min-width: 28px;
   max-width: 28px;
   height: 28px;
}

.ic-30{
   min-width: 30px;
   max-width: 30px;
   height: 30px;
}

.ic-tex{
   background: center / 100% url('../src/images/svg/ic-text.svg') no-repeat;
}

.ic-rad{
   background: center / 100% url('../src/images/svg/ic-radio.svg') no-repeat;
}

.ic-che{
   background: center / 100% url('../src/images/svg/ic-checkbox.svg') no-repeat;
}

.ic-lis{
   background: center / 100% url('../src/images/svg/ic-list.svg') no-repeat;
}

.ic-lde{
   background: center / 100% url('../src/images/svg/ic-listd.svg') no-repeat;
}


/* BOXES ------------------------------------------------------------------------*/

.box-warning{
   padding: 25px 35px;
   width: 600px;
   outline: 10px solid white;
   border-radius: 10px;
   box-shadow: -5px 5px 25px var(--cl-blue-3t);
   background-color: var(--cl-gray-2);

   > .warn-title{
      margin-bottom: 25px;
      > h2{
         font-size: 28px;
         font-family: 'roboto-light';
         color: var(--cl-red-3);
      }
   }

   > .warn-description{
      margin-bottom: 45px;
      > p{
         font-size: 17px;
      }
   }

   > .warn-btns{
      text-align: right;
      > button{
         margin-right: 15px;
         box-shadow: none;
         &:last-child{
            margin-right: 0px;
         }
      }
   }
}


/* INPUTS */

.inp-det-text, .inp-det-text-bt{
   padding: 0px 15px;
   font-size: 14px;
   border-radius: 5px;
   border: 1px solid var(--cl-gray-7);
   &::placeholder{
      color: var(--cl-gray-6);
   }
   &:focus{
      border: 1px solid var(--cl-blue-4);
   }
}

.inp-det-text{
   width: 100%;
   height: 36px;
}

.cont-input-det-op{
   display: flex;
   margin-bottom: 5px;
   > .inp-det-text-bt{
      width: 100%;
      height: 30px;
   }
   > button{
      margin-left: 5px;
   }
}


.select-det{
   padding: 0px 15px;
   width: 200px;
   height: 36px;
   border-radius: 5px;
}

.form-d-li{
   padding: 10px;
   width: 100%;
   border-radius: 10px;
   > .form-d-item-back{
      > .form-d-item-tit{
         margin-bottom: 7px;
         > p-item-tit{
            font-size: 18px;
            color: var(--cl-gray-7);
         }
      }
   }
   &:hover{
      background-color: var(--cl-gray-5);
   }
}

.cont-inp-form{
   display: flex;
   position: relative;
   > .cont-inp-req{
      position: absolute;
      top: 0px;
      left: -7px;
      width: 6px;
      height: 100%;
      > .el-req{
         display: block;
         width: 6px;
         height: 6px;
         border-radius: 50%;
         background-color: var(--cl-red-2);
      }
   }
   > .cont-inp-elem{
      width: 100%;
      height: 100%;
      > .inp-f-text{
         padding: 0px 18px;
         width: 100%;
         height: 45px;
         border-radius: 7px;
         font-size: 18px;
         font-family: 'roboto-regular';
         &::placeholder{
            color: var(--cl-gray-6);
            font-family: 'roboto-light';
         }
      }
      > .inp-f-rad{
         display: none;
         & + .label-f-rad{
            display: inline-block;
            padding: 0px 15px;
            margin-right: 10px;
            margin-bottom: 5px;
            line-height: 30px;
            border-radius: 15px;
            border: 1px solid var(--cl-gray-6);
            white-space: nowrap;
            color: var(--cl-gray-8);
            background-color: var(--cl-gray-3);
            cursor: pointer;
            &:last-child{
               margin-right: 0px;
            }
         }
         &:checked + .label-f-rad{
            color: white;
            background-color: var(--cl-yellow-3);
         }
      }
      > .inp-f-che{
         display: none;
         & + .label-f-che{
            display: inline-block;
            padding: 0px 15px;
            margin-right: 10px;
            margin-bottom: 5px;
            line-height: 30px;
            border-radius: 5px;
            border: 1px solid var(--cl-gray-5);
            white-space: nowrap;
            color: var(--cl-gray-8);
            background-color: var(--cl-gray-3);
            cursor: pointer;
            &:last-child{
               margin-right: 0px;
            }
         }
         &:checked + .label-f-che{
            color: white;
            background-color: var(--cl-blue-4);
         }
      }
      > .sel-f{
         padding: 0px 18px;
         width: 100%;
         height: 45px;
         border-radius: 7px;
         font-size: 18px;
         font-family: 'roboto-regular';         
      }
   }
   > .cont-inp-opts{
      min-width: 0px;
      width: 0px;
      transition: all .5s ease;
      overflow: hidden;
      > .cont-btns-op{
         display: flex;
         align-items: center;
         padding-left: 10px;
         height: 100%;
         > button{
            margin-right: 10px;
            border: 1px solid var(--cl-gray-6);
            border-radius: 7px;
            background-color: white;
            &:last-child{
               margin-right: 0px;
            }
         }
         & .button-ic-ed:hover{
            background: var(--cl-blue-4) center / 82% url('../src/images/svg/ic-edit-b.svg') no-repeat;
         }
         & .button-ic-del:hover{
            background: var(--cl-red-2) center / 82% url('../src/images/svg/ic-delete-b.svg') no-repeat;
         }
      }
   }
   &:hover{
      > .cont-inp-opts{
         min-width: 80px;
      }
   }
}

/* BACKGROUND  ----------------------------------------------------------------------------------*/

.block-background{
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100vh;
   background-color: var(--cl-gray-back-t);
   z-index: 100;
}


/* POPS ----------------------------------------------------------------------------------*/

.cont-pop{
   position: absolute;
   right: 0px;
   bottom: 0px;
   padding: 20px 0px;
   z-index: 1;
   > .cont-pop-text{
      position: relative;
      margin-right: 20px;
      padding: 20px;
      width: 300px;
      max-height: 100px;
      border: 1px solid var(--cl-gray-6);
      border-radius: 7px;
      box-shadow: -1px 2px 10px var(--cl-gray-6);
      background-color: white;
      animation: enter ease .2s forwards;
      > h4{
         font-size: 14px;
         margin-bottom: 10px;
         color: var(--cl-blue-5);
      }
      > p{
         font-size: 12px;
      }
   }
}

@keyframes enter{
   0%{
      right: -100%;
   }
   100%{
      right: 0%;
   }
}
