.oc{
    display: none;
}

.btn-dis{
    border: 1px solid var(--cl-gray-6) !important;
    color: var(--cl-gray-6) !important;
    background-color: var(--cl-gray-4) !important;
    cursor: auto !important;
    box-shadow: none !important;
    > div{
        opacity: 0;
        transition: all .3s ease;
    }
    > p{
        transition: all .5s ease;
        transform: translateX(-40px);
        color: var(--cl-gray-6);
    }
}

.emphasis-block{
    animation: line 1s ease-in infinite;
    border: 1px solid var(--cl-red-2) !important;
}
@keyframes line {
    0%{
        outline: 0px solid var(--cl-red-2t);
    }
    50%{
        outline: 15px solid var(--cl-red-2t);
    }
    100%{
        outline: 0px solid var(--cl-red-2t);
    }
}

.min-w{
    padding: 0px !important;
    margin: 0px !important;
    min-width: 0px !important;
    max-width: 0px !important;
 }
 
 .max-w{
    min-width: 100% !important;
    max-width: 100% !important;
 }
 
.ru10{
    position: absolute;
    right: 10px;
    top: 10px;
}