.main-container{
    height: 100%;
}

/* HOME ---------------------------------------------------------------*/
.home-container{
    height: 100%;
}

.home-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 100px;
    height: var(--h-home-header);
    > .cont-logo{
        height: 70px;
        width: 250px;
        background-color: #c9c9c9;
    }
}

.home-body{
    position: relative;
    height: calc(100% - var(--h-home-header));
    > .cont-body-image{
        position: relative;
        width: 100%;
        height: 100%;
        > .cont-image{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 200px;
            width: 350px;
            height: 600px;
            background-color: #e1ecf7;
        }
    }
    > .cont-body-text-btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 300px;
        background-color: aqua;
        
    }
}

/* PANEL ---------------------------------------------------------------*/

.container-panel{
    height: 100%;
    background-color: var(--cl-gray-5);
    
    > .panel-header{
        padding: 0px 100px;
        height: var(--h-panel-header);
        > .cont-logo{
            height: 100%;
            width: 250px;
            background-color: #c9c9c9;            
        }
    }

    > .panel-body{
        padding: 0px 100px;
        height: calc(100% - var(--h-panel-header));
        > .panel-body-description{
            display: flex;
            padding: 25px 0px;
            height: var(--h-panel-body-description);
            > .desc-tit{
                margin-right: 20px;
                > h3{
                    white-space: nowrap;
                }
            }
            > .desc-ins{
                margin-right: 150px;
                > p{
                    padding-top: 5px;
                    font-size: 15px;
                }
            }
        }
        
        > .panel-body-blocks{
            display: flex;
            height: calc(100% - var(--h-panel-body-description));
            > .panel-block-options{
                display: flex;
                flex-direction: column;
                padding: 50px 20px 50px 0px;
                min-width: 540px;
                max-width: 540px;
                > .block-options{
                    padding: 30px;
                    height: 100%;
                    border-radius: 15px;
                    background-color: var(--cl-gray-1);
                    border: 1px solid var(--cl-gray-6);
                    > .header-options{
                        > h4{
                            margin-bottom: 10px;
                            font-size: 25px;
                            color: var(--cl-blue-5);
                        }
                    }
                    > .body-options{
                        height: 100%;
                        display: flex;
                        > .ops-list{
                            display: flex;
                            flex-direction: column;
                            padding-top: 20px;
                            > .li-op{
                               margin-bottom: 7px;
                            }
                        }
                    }
                    &:hover{
                        box-shadow: 0px 0px 10px var(--cl-blue-1);
                    }
                }
            } 
            > .panel-block-model{
                padding: 10px 20px;
                > .block-model{
                    padding: 40px 60px;
                    height: 100%;
                    min-width: 600px;
                    max-width: 600px;
                    border-radius: 20px;
                    box-shadow: 0px 0px 15px var(--cl-blue-1);
                    background-color: white;
                    > .form-model{
                        padding: 40px;
                        height: 100%;
                        border-radius: 10px;
                        border: 2px solid var(--cl-blue-4);
                        background-color: var(--cl-gray-3);
                    }
                }
            }
            > .panel-block-list{
                display: flex;
                flex-direction: column;
                padding: 50px 0px 50px 20px;
                min-width: 540px;
                max-width: 540px;
                > .block-list{
                    padding: 30px;
                    height: 100%;
                    border-radius: 15px;
                    background-color: var(--cl-gray-1);
                    border: 1px solid var(--cl-gray-6);
                    > .header-options{
                        > h4{
                            margin-bottom: 20px;
                            font-size: 25px;
                            color: var(--cl-blue-5);
                        }                        
                    }                
                    &:hover{
                        box-shadow: 0px 0px 10px var(--cl-blue-1);
                    }
                }
            }
            > .header-list{
                > h4{
                    margin-bottom: 10px;
                }
            }
        }
        
    }
}

